*{
    margin:0px;
    padding:0px;   
}
header{
    margin:100%;
    width:100%;
    align-items: center;
    /* background-image: url('images/shopping-center.jif'); */
    background-color: #223030;
    padding-top: 10px;
    top:0;
    position: sticky;
}
header div{
    font-size: 30px;
    font-family: 'Times New Roman', serif;
}
header > h1{
    text-align: center;
    color: #959D90;
}
.nav-bar{
    display:flex;
    justify-content: space-around;
    list-style-type: none; 
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-bar a{
    font-size: 20px;
    color: #005477;
}
.nav-bar .current{
    color: gray;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
.content div{
    padding:5px;
    font-size: 17px;
}
footer{
    text-align: center;
    font-size: 20px;
    background-color: pink;
    color: purple;
    bottom:0;
    position: fixed;
    width:100%;
}
img{
    border: black solid;
    border-radius: 5%;
    margin-left: 30px;
}
ol{
    padding:30px;
    list-style-type: upper-alpha;
}
.clothing-items td, .clothing-items th{
    border: #893101 solid;
    margin:0px;
    padding:0px;
    text-align: left;
}
tr{
    margin:0px;
    padding:0px;
}
.clothing-items{
    border-collapse:collapse
}
form{
    width:fit-content;
    padding:5px;
    margin:auto;
}
fieldset{
    padding:5px
}
legend{
    text-align:center;
}
input{
    width:160px
}
