*{
    margin:0px;
    padding:0px;   
}
header{
    width:100%;
    text-align: center;
    align-items: center;
    background-color: #52666e;
    padding-top: 10px;
    top:0;
    position: sticky;
}
header div{
    font-size: 30px;
    font-family: 'Times New Roman', serif, Georgia;
    color: #c4d3e6;
    align-items: center;
}
header > h1{
    text-align: center;
    color: #041e37;
}
.nav-bar{
    display:flex;
    justify-content: space-around;
    list-style-type: none; 
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-bar a{
    font-size: 20px;
    color: #041e37;
}
.nav-bar .current{
    color: #edd78c;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
.content{
    padding:10px;
}
.content div{
    font-size: 17px;
}
footer{
    text-align: center;
    font-size: 20px;
    background-color: #223030;
    color: #959D90;
    bottom:0;
    position: fixed;
    width:100%;
}
img{
    border: black solid;
    border-radius: 5%;
    margin-left: 30px;
}
ol{
    padding:30px;
    list-style-type: upper-alpha;
}
tr{
    margin:0px;
    padding:0px;
}
form{
    width:fit-content;
    padding:5px;
    margin:auto;
}
fieldset{
    padding:5px
}
legend{
    text-align:center;
}
input{
    width:160px
}
